apiVersion: apps/v1
kind: Deployment
metadata:
  name: emberlog-api
  namespace: emberlog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: emberlog-api
  template:
    metadata:
      labels:
        app: emberlog-api
    spec:
      containers:
        - name: emberlog-api
          image: ghcr.io/jcrawford2000/emberlog-api
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: emberlog-api-secrets
                  key: DATABASE_URL
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
